body{
    margin:0px;
}
/* background image  */

/* cube */

@keyframes changeindeg {
    from{
        transform: rotateX(25deg) rotateY(-25deg) ;
    }
    to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}  
.cube{
    width:20px;
    height:20px;
    margin-left:3%;
    /* padding-top: 20px; */
    position: relative;
    /* perspective: 1000px; */
    transform-style: preserve-3d;
    transform: rotateX(25deg) rotateY(-25deg);
    animation: changeindeg 2s ease-in-out infinite alternate;
}
.face{
    width:100%;
    height:100%;
    position: absolute;
    
    top:10%;
    left:10%;
    
    transition: all 1s;
    
}
.one{
    background-color:red;
    

}
.two{
    background-color: greenyellow;
    transform: rotateY(90deg) translate3d(-10px,0px,-10px);
}
.third{
    background-color: grey;
    transform: rotateY(90deg) translate3d(-10px,0px,10px);
}
.fourth{
    background-color: rgb(202, 16, 118);
    transform: rotateZ(90deg) translate3d(0px,0px,20px);
} 
 .fivth{
    background-color: orange;
    transform: rotateX(90deg) translate3d(0px,10px,10px);
} 
.sixth{
    background-color: rgb(38, 154, 199);
    transform: rotateX(90deg) translate3d(00px,10px,-10px);
}



/* #body-header{
    
    height:80vh;
    background-image: url('images/macbook_mouse.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


} */

/* #nameinheader h2{
    color:white;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top:50%;
} */
/* navigation section */
.nav-head{
    margin:-20px;
}
.Navigation{
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
    margin: -16px;
}
.Navigation .cube{
    position: relative;
    margin-top: 20px;
}
.Navigation ul li {
    display: inline-flex;
    /* flex-direction: column; */
    align-items: stretch;
    justify-content: space-between;
    /* padding: 2%; */
    margin-left: 50px;

    
}
.Navigation ul a{
    font-size: x-large;
    text-decoration: none;
    color:red;
}
.Navigation ul a:hover{
    
    color:green;
    border-bottom: 1px solid white;
    transition: 0.4s,border-bottom 4s;

}

/* name in header */

/* social icons */
.socialicons{
    text-align: center;
    margin-top:50px;
}
.socialicons ul li{
    display: inline-block;
    margin:0px 10px;
    

}
.socialicons ul li img{
    border-radius:10% ;
    height:40px;
    width:40px;


}
.socialicons ul li img:hover{
    
    box-shadow: 0px 0px 6px 4px red;
}
/* profile image */
/* .profile{
    text-align: center;
    margin-top: 5%;
}
.profile img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 4px  black;
}
.profile img:hover{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 6px  black;
} */
/* main body */
.commonmargin{
    margin-top: 70px;
}
/*section */
section{
    display: flex;
    flex-direction: column;
    width:100%;

}
section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}
#about{
    /* margin-top: 5%; */
    width:70%;
    text-align: center;
    margin-left: 10%;
}
.main-type p{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: left;
    margin-left:30px;
    line-height: 40px;

}

/* aside section for social icons */
/* .social-container{
    position: sticky;
} */
.socialmedia{
    position: sticky;
    top:20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.socialmedia img{
    display: block;
}

.social-btn img{
    height:45px;
    width:45px;
    margin: 0px;

}
/* .socialmedia{
     margin-left: -3px;
} */



@media only screen   and (max-width:768px) 
{
    .timeline-divider{
       left:5% !important;
    }

    .timeline-box
    {
         margin-top: 20px;
         margin-bottom: 20px;
         left:12% !important;
         width:80% !important;

    }
    /* //removing circles */

    .timeline-box:nth-child(2n+1)::after{
        content:'';
        position: absolute;
        top:30%;
        right:-13%;
        border-radius: 50%;
        background-color:rgb(239,239,239);
        
        width:0.7rem;
        height: 0.7rem;
        z-index: 1;
   } 

   .timeline-box:nth-child(2n)::after{
    content:'';
    position: absolute;
    top:30%;
    right:-13%;
    border-radius: 50%;
    background-color:rgb(239,239,239);
    
    width:0.7rem;
    height: 0.7rem;
    z-index: 1;
    } 

    /* adding circle */


    .timeline-box:nth-child(2n+1)::before{
        content:'';
        position: absolute;
        top:30%;
        left:-11%;
        border-radius: 50%;
        background-color:lightslategray;
        
        width:0.7rem;
        height: 0.7rem;
        z-index: 1;
    }
    .timeline-box:nth-child(2n)::before{
        content:'';
        position: absolute;
        top:30%;
        left:-11%;
        border-radius: 50%;
        background-color:lightslategray;
        
        width:0.7rem;
        height: 0.7rem;
        z-index: 1;
    }
  
    .timeline-box:nth-child(2n+1)
    {
         margin-top: 20px;
         margin-bottom: 20px;
         left:5%;
        
    }
    html
    {
        font-size: 15px;
    }
    /* navigation section */
    .Navigation ul a{
        font-size: rem;
        text-decoration: none;
        color:white;
    }
    .nameinheader h1{
      
        font-size:3rem;
    }
    .socialicons ul li img{
        
        height:2rem;
        width:2rem;
    }
    .Navigation{
        display: none;
    }
    #body-header{
    
        margin-top: -20%;
        height:100vh;
    }
    .name-socialicons {
        transform: translate(0,70%);
    }


}
@media only screen   and (max-width:572px) 
{
    .timeline-divider{
       left:2% !important;
    }

    .timeline-box
    {
         margin-top: 20px;
         margin-bottom: 20px;
         left:12% !important;
         width:100% !important;

    }
    /* //removing circles */

    .timeline-box:nth-child(2n+1)::after{
        content:'';
        position: absolute;
        top:30%;
        right:-13%;
        border-radius: 50%;
        background-color:rgb(239,239,239);
        
        width:0.7rem;
        height: 0.7rem;
        z-index: 1;
   } 

   .timeline-box:nth-child(2n)::after{
    content:'';
    position: absolute;
    top:30%;
    right:-13%;
    border-radius: 50%;
    background-color:rgb(239,239,239);
    
    width:0.7rem;
    height: 0.7rem;
    z-index: 1;
    } 

    /* adding circle */


    .timeline-box:nth-child(2n+1)::before{
        content:'';
        position: absolute;
        top:30%;
        left:-11%;
        border-radius: 50%;
        background-color:lightslategray;
        
        width:0.7rem;
        height: 0.7rem;
        z-index: 1;
    }
    .timeline-box:nth-child(2n)::before{
        content:'';
        position: absolute;
        top:30%;
        left:-11%;
        border-radius: 50%;
        background-color:lightslategray;
        
        width:0.7rem;
        height: 0.7rem;
        z-index: 1;
    }
  
    .timeline-box:nth-child(2n+1)
    {
         margin-top: 20px;
         margin-bottom: 20px;
         left:5%;
        
    }
    html
    {
        font-size: 10px;
    }
    .aeroplane-icon i {
        font-size:3rem !important;
    }
    .Navigation ul a{
        font-size: rem;
        text-decoration: none;
        /* color:white; */
    }
    .nameinheader h1{
      
        font-size:4rem;
    }
    .socialicons ul li img{
        
        height:3rem;
        width:3rem;
    }
    .Navigation{
        display: none;
       
    }

    #body-header{
    
        margin-top: -20%;
    }
    .name-socialicons{
        margin-top: 50%;

    }

    .nameinheader h1{
      
        font-size:5rem;
    }
    .socialicons ul li img{
        
        height:4rem;
        width:4rem;
    }
    .Navigation{
        display: none;
    }
    #body-header{
    
        margin-top: -50%;
        height:100vh;
    }
    .name-socialicons {
        transform: translate(0,60%);
    }
    .profile img{
        transform: scale(1.2);
    }

    
}
.timeline-divider{
    position: absolute;
    left:50%;
    top:10%;
    height:75%;
    border:3px dotted #0096fa6b;
    width:0px;
}
.aeroplane-icon{
    position: sticky;
     top:25%;
    margin-left: -15px;
    z-index: 2;
}
.aeroplane-icon i{


    font-size:2em;
    transform: rotate(180deg) ;
    color:rgb(24,49,83);
   

}
.college h3::after
{
    content:'';
    display: inline-block;
    margin-left: 20px;
    
    height: 50px;
    width:50px;
    background-size: contain;
    background-image: url(/images/iit-ism-logo.jpg);

  
}
.school h3::after
{
    content:'';
    display: inline-block;
    margin-left: 20px;
    
    height: 50px;
    width:50px;
    background-size: contain;
    background-image: url(/images/nvps.png);

  
}
/* pathselector */
.pathselector
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 200px;
   width:200px;
   border-radius: 50%;
   margin: 20px;
}

.pathselector{
    
    border:2px solid black;
    /* display: flex; */
    /* margin-left: 20%; */
    background-image:linear-gradient(green,white);
}
/* contact */
#contact{
    display:flex;
    flex-wrap: wrap;
}
#contact-body{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contact{
    width:100%;
    height:auto;
    background:linear-gradient(to right,#2857a4,#403066);
    
    
}
#contact-form input{
    display: block;
    width:30rem;
    margin-bottom: 20px;
    color:grey;
    background-color: inherit;
    border: none;
    font-size: larger;
    margin-left: 20px;
    border-bottom: 2px solid white;
    line-height: 60px;
}
#contact-form button{
    border:3px solid white;
    display: block;
    font-size: larger;
    margin-top: 40px;
    margin-bottom: 20px;
    color:grey;
    background-color: inherit;
    margin-left:40%;
  
}
#contact #contact-socialmedia{
    margin-top: 40px;
    padding-bottom: 30px;;

}






