<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
    <script src="https://kit.fontawesome.com/ecd6db5343.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    
    <header id="body-header">
        <nav class="Navigation">
            <div class="cube">
                <div class="one face">
                U
                </div>
                <div class="two face">
                 U
                </div>
                <div class="third face">
                U
                </div>
                <div class="fourth face">
                 U
                </div>
                <div class="fivth face">
                 U
                </div>
                <div class="sixth face">
                 U
                </div>
        
             </div>
           <div class="nav-head">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#about">
                        About
                    </a>
                </li>
       
                <li>
                    <a href="#contact">
                        Contact
                    </a>
                </li>
                
                <li>
                    <a href="/home/profile">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/sessionLogout">
                        Logout 
                    </a>
                </li>
              </ul>
           </div>
          
          
        </nav>
        
    
    </header>
    <aside class="socialmedia">
       
           
      <div class="social-container">
        <div class="socialmedia">
            <a id="facebook" class="social-btn" target="_blank" href="http://www.facebook.com"><img src="/images/fb.png" alt="fb"></a>
    
            <a id="linkedin" class="social-btn" target="_blank" href="https://www.linkedin.com"><img src="/images/linkedin1.png" alt="in"></a>
    
            <a id="twitter" class="social-btn" target="_blank" href="https://twitter.com"><img src="/images/twitter.png" alt="twi"></a>
    
           
    
            <a id="whatsapp" class="social-btn" target="_blank" href="http:whatsapp.com"><img src="/images/whatsapp.jpg" alt="w-app"></a>
    
            
        </div>
      </div>
        


 </aside>
    <main class="main-type">
        <section id="about" class="commonmargin">
            <div>
                <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ut iusto mollitia explicabo. Quae cupiditate dolore enim asperiores laborum sapiente obcaecati officiis consequuntur voluptatum numquam exercitationem atque distinctio aliquid nisi eveniet iure, reiciendis ipsa eum voluptatibus vero. Cumque doloremque id cum error, modi quia magni qui perspiciatis corrupti quidem. Omnis recusandae nobis necessitatibus sequi, sit, a, doloremque nulla magni esse quidem mollitia atque voluptatibus rem non quas dignissimos ea. Reiciendis.
                </p>
            </div>
        </section>
        <section id="pathbreaker" class="commonmargin">
            <div class="row">
                <div class="col-2">
                    
                  </div>
                <div class="col-4">
                    <a href="/home/scholarship" class="pathselector">Education</a>
                    
                       
                </div>
                <div class="col-2">
                    
                  </div>
                <div class="col-4">
                    <a href="/home/jobs" class="pathselector">Career</a>
                </div>
            </div>




        </section>
       <section id="contact" class="commonmargin">
            <h1 class="section-heading mb75px" style="text-align: center;">
                <span>
                    <i class="fa-solid fa-id-card" style="color:white;"></i>                
                </span>
                <span style="color:white;font-weight:700">CONTACT</span>
            </h1>
            <div id="contact-body">

                <div id="contact-section">
                    <div id="contact-form">
                        <form action="">
                         
                         <input type="text" name="Name" id="Name" placeholder="YourName">
                        
                         <input type="email" name="email" id="email" placeholder="YourEmail">
                         <input type="text" name="message" id="message" placeholder="Message">
                         <button type="submit" style="color:white"> Send Message
               
                         </button>
                         
                        </form>
     
                     </div>
                </div>
                <div id="contact-section">
                    <div id="contact-address">
                 
                        <h2 style="color:white;font-weight:700 ;font-size:40px; margin-top:20%;">
                            Get In touch
                        </h2>
                        
                        <table>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-location-dot"><b style="text-transform:lowercase;color:white; font-size: larger;" >
                                        Delhi, &nbsp;Dhanbad, &nbsp;India
                                    </b></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-mobile-screen-button"><b style="text-transform:lowercase;color:white;font-size: larger;" >
                                        9991033385
                                    </b></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-envelope" ><b style="text-transform:lowercase;color:white;font-size: larger;" >
                                        yashkr2005@gmail.com
                                    </b></i>
                                </td>
                            </tr>
                        </table>
                     
                    </div>

                </div>
             </div>
            <div id="contact-socialmedia">
                   
                <div class="socialicons">

        
                    <ul >
                        <li>
                            <a href="https://www.linkedin.com/in/yash-kumar-b0b604135/" target="_blank">
                                <img src="/images/linkedin.png" alt="linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://fb.com" target="_blank">
                                <img src="/images/fbicon.jpg" alt="fb">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.codechef.com/users/yashkr2005" class="codechef" target="_blank">
                                <img src="/images/codechefnew1.png" alt="codechef">
                            </a>
                        </li>
                        <li>
                            <a href="https://leetcode.com/yashkr2005/" class="leetcodeimage" target="_blank">
                                <img src="/images/leetcode.png" alt="leetcode" >
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/yashkr2005" target="_blank">
                                <img src="images/github.png" alt="github">
                                <!-- <i class="fa-brands fa-github"></i> -->
                            </a>
                        </li>
        
                    </ul>
        
                </div>

            </div>
         
        </section>



    </main>
    <script type="text/javascript" src="resumejs.js">

    </script>
</body>
</html>