<%- include('partials/header') %>
    <title>Home</title>

</head>
<body>
    
    <header id="body-header">
        <nav class="Navigation">
            <div class="cube">
                <div class="one face">
                U
                </div>
                <div class="two face">
                 U
                </div>
                <div class="third face">
                U
                </div>
                <div class="fourth face">
                 U
                </div>
                <div class="fivth face">
                 U
                </div>
                <div class="sixth face">
                 U
                </div>
        
             </div>
           <div class="nav-head">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#about">
                        About
                    </a>
                </li>
       
                <li>
                    <a href="#contact">
                        Contact
                    </a>
                </li>
                
               
                <li>
                    <a href="/sessionLogout">
                        Logout 
                    </a>
                </li>
              </ul>
           </div>
          
          
        </nav>
        
    
    </header>
    <aside class="socialmedia">
       
           
      <div class="social-container">
        <div class="socialmedia">
            <a id="facebook" class="social-btn" target="_blank" href="http://www.facebook.com"><img src="/images/fb.png" alt="fb"></a>
    
            <a id="linkedin" class="social-btn" target="_blank" href="https://www.linkedin.com"><img src="/images/linkedin1.png" alt="in"></a>
    
            <a id="twitter" class="social-btn" target="_blank" href="https://twitter.com"><img src="/images/twitter.png" alt="twi"></a>
    
           
    
            <a id="whatsapp" class="social-btn" target="_blank" href="http:whatsapp.com"><img src="/images/whatsapp.jpg" alt="w-app"></a>
    
            
        </div>
      </div>
        


 </aside>
      <h1 id="companyname">
        UPLIFT
      </h1>
    <main class="main-type">
        <section id="about" class="commonmargin">
         <div>
                <p>
                    Easing the process and information for scholars by guiding them on how to
                    apply for certain scholarships or courses in and outside the country.
                  Eligibility for various exams
                  Scholarships provided by the government, public sector as well as  universities
                    and colleges within as well as outside the country.
                     Provide a platform for trainers as well as councilors and users to connect.
                     Career guidance in an interactive way.
                     The website intends to mend the digital divide that plagues the country right now with
unique digital solutions. To accomplish that, it includes certain features that make it
more accessible and less demanding.

                </p>
            </div>
        </section>
        <section id="pathbreaker" class="commonmargin">
            <div class="row">
                <div class="col-2">
                    
                  </div>
                <div class="col-4">
                    <a href="/home/scholarship" class="pathselector tagcolorchange">Education</a>
                    
                       
                </div>
                <div class="col-2">
                    
                  </div>
                <div class="col-4">
                    <a href="/home/jobs" class="pathselector tagcolorchange">Career</a>
                </div>
            </div>




        </section>
       <section id="contact" class="commonmargin">
            <h1 class="section-heading mb75px" style="text-align: center;">
                <span>
                    <i class="fa-solid fa-id-card" style="color:white;"></i>                
                </span>
                <span style="color:white;font-weight:700">CONTACT</span>
            </h1>
            <div id="contact-body">

                <div id="contact-section">
                    <div id="contact-form">
                        <form action="">
                         
                         <input type="text" name="Name" id="Name" placeholder="YourName">
                        
                         <input type="email" name="email" id="email" placeholder="YourEmail">
                         <input type="text" name="message" id="message" placeholder="Message">
                         <button type="submit" style="color:white"> Send Message
               
                         </button>
                         
                        </form>
     
                     </div>
                </div>
                <div id="contact-section">
                    <div id="contact-address">
                 
                        <h2 style="color:white;font-weight:700 ;font-size:40px; margin-top:20%;">
                            Get In touch
                        </h2>
                        
                        <table>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-location-dot"><b style="text-transform:lowercase;color:white; font-size: larger;" >
                                        New Delhi, &nbsp;India
                                    </b></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-mobile-screen-button"><b style="text-transform:lowercase;color:white;font-size: larger;" >
                                        9999999999
                                    </b></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa-solid fa-envelope" ><b style="text-transform:lowercase;color:white;font-size: larger;" >
                                        uplift@gmail.com
                                    </b></i>
                                </td>
                            </tr>
                        </table>
                     
                    </div>

                </div>
             </div>
            <div id="contact-socialmedia">
                   
                <div class="socialicons">

        
                    <ul >
                        <li>
                            <a href="https://www.linkedin.com" target="_blank">
                                <img src="/images/linkedin.png" alt="linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://fb.com" target="_blank">
                                <img src="images/fbicon.jpg" alt="fb">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="codechef" target="_blank">
                                <img src="images/twitter2.png" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a href="www.instagram.com" class="leetcodeimage" target="_blank">
                                <img src="images/Instagram-logo-transparent-PNG.png" alt="instagram" >
                            </a>
                        </li>
                        <li>
                            <a href="www.youtube.com" target="_blank">
                                <img src="images/youtube.png" alt="youtube">
                                <!-- <i class="fa-brands fa-github"></i> -->
                            </a>
                        </li>
        
                    </ul>
        
                </div>

            </div>
         
        </section>



    </main>
    </script>
</body>
</html>