<html>
<head>
  <title> Career</title>
</head>

<link rel="stylesheet" type="text/css" href="/scholarship.css">
<body>

<div class="container">
  <div class="headerImg"></div>
  <div class="header"><h1 class="header">Jobs</h1>
 </div>
  <div class="left">

<h2>Team Samarthya will filter Jobs for you according to your eligibility</h2>
<p>
  
  </p></div>
  <div class="content">
    <h1 style="color:black">Jobs</h1>
    <p>
    </p>
    <form>
   
    
    <br>
    <br>
    <div>
        <label for="class">Highest Qualification</label>
       
            <select name="myclass" id="class">
                <option value="X">10TH</option>
                <option value="XII">12TH</option>
                
                <option value="grad">GRADUATION</option>
            </select>
       
    </div>
    <br>
    <div>
        <label for="board">Board/University</label>
        <input type="text" name="myboard" id="board" placeholder="Enter the name of Board/University">
    </div>
    <br>
    <div>
        <label for="CGPA">Percentage in latest Degree/CGPA</label>
        <input type="text" name="myCGPA" id="CGPA"placeholder="Enter the percentage">
    </div>
    <br>
    <br>
    
    <br>
    

</form>
 Not having resume not to worry create on here
 <!-- <button onclick="location.href='resume.html'" class="pathselector">Create Resume</button> -->
 <a href="/home/createResume" class="pathselector">Create Resume</a>
</p>
   
  <div class="footer"></div>
</div>


<script src="scholarship.js"></script>
</body>
</html>