<%- include('partials/header') %>
  <title>Scholarship</title>
  <link rel="stylesheet" type="text/css" href="/scholarship.css">
</head>


<body>

<!-- <div class="container">
  <div class="headerImg"></div>
  <div class="header"><h1 class="header">Scholarship</h1>
 </div>
  <div class="left">

<h2>Samarthya will filter scholarship for you according to your eligibility</h2>
<p id="para"> 
<div class="list">
    <table>
        <thead>
            <th>Scholarship Name</th>
            <th>Reward</th>
            <th>Family Income</th>
            <th>Website Link</th>
        </thead>
        <tbody id="tbod"></tbody>
    </table>
</div>
</p></div> -->
  <div class="content">
    <h2>Scholarship</h2>
    <p> </p>
<p> <form class="resume" id="resume-form" action="/home/scholarship/specify">
    <h3>Enquiry</h3>
    <br>
    <br>
    <div>
        <label for="class">Highest Qualification</label>
       
            <select name="myclass" id="class">
                <option value="X">10TH</option>
                <option value="XII">12TH</option>
                
                <option value="grad">GRADUATION</option>
            </select>
       
    </div>
    <br>
    <div>
        <label for="board">Board/University</label>
        <input type="text" name="myboard" id="board" placeholder="Enter the name of Board/University">
    </div>
    <br>
    <div>
        <label for="CGPA">Percentage in latest Degree/CGPA</label>
        <input type="text" name="myCGPA" id="CGPA"placeholder="Enter the percentage">
    </div>
    <br>
    <br>
    <div>
        <label for="income">Family Income</label>
        <input type="text" name="myfamilyincome" id="income"placeholder="Enter the family income">
    </div>
    <br>
    <div>
        Country : 
        <input type="radio" id="inscolarshipreach" name="myscholarshipreach" value="inscolarshipreach"
               checked>
        <label for="inscolarshipreach">India</label>
      
  
      
        <input type="radio" id="aboradscholarshipreach" name="myscholarshipreach" value="aboradscholarshipreach">
        <label for="aboradscholarshipreach">Aborad</label>
        <button type="submit">Submit</button>
      </div>

</form>
<div>
  <table>
    <tr>
      <td>Name</td>
      <td>Reward</td>
      <td>Standard</td>
    </tr>
    <% for(let i of list){ %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.reward %></td>
        <td><%= i.standard %></td>
      </tr>
    <% } %>
  </table>
</div>
  <div class="footer"></div>
</div>
</body>
</html>