div.container {
    width: 100%;
    margin: 0px;
    border: none;
    line-height: 150%;
    background-color:#f9fbf8;
}

div.header{
    padding: 0.5em;
    color: white;
    background-color: #29292a;
    clear: left;
}

h1.header {
    padding: 20px;
    margin: 0;
    color:white;
}

div.left {
    float: left;
    width: 80%;
    margin: 0;
    padding: 1em;
}

div.content {
    margin-left: 190px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

h1{

  font-weight: 100;
}

h2{

  font-weight: 300;
  font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #84d4e1;
    color: white;
}

li a:hover:not(.active) {
    background-color: #29292a;
    color: white;
}